.pio
.vscode


build/
*.bin
*.elf
*.map
*.o
*.a


dependencies.lock
managed_components/
sdkconfig.old
compile_commands.json

sdkconfig
sdkconfig.*
!sdkconfig.defaults
!sdkconfig.defaults.*


.DS_Store
Thumbs.db
*.swp
